.landing__container {
    background-color: #E3E6E6;
    /* height: 200vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing__banner {
    max-width: 1250px;
    max-height: 800px;
    position: relative;
}

.landing__banner > img {
    height: 100%;
    width: 100%;
    padding: 3px 5px;
}

.landing__categories {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    max-width: 1250px;
    padding: 0 20px;
    position: absolute;
    bottom: -200px;
}

.landing__category {
    max-width: 350px;
    max-height: 385px;
    background-color: white;
    padding: 20px 15px;
}

.landing__category > img {
    width: 100%;
    height: 280px;
}

.landing__category > h3 {
    padding-bottom: 8px;
}

.landing__category > span {
    color: #0066c0;
    font-size: 13px;
    cursor: pointer;
    padding-top: 12px;
}

.landing__category > span:hover {
    text-decoration: underline;
    color: #f5ab4a;
}

.landing__trending-container {
    margin-top: 250px;
    max-width: 1210px;
    width: 100%;
    background-color: white;
    /* margin: 250px 20px 0 20px; */
    padding: 0 20px;
    /* padding-right:17/px; */
    width:97%;
}

.landing__trending {
    padding: 8px 0;
}

.landing__trending-products {
    display: flex;
    flex-direction: row;
    max-width: 1250px;
    gap: 1rem;
    width: 100%;
}

.landing__trending-product {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.158);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.199);
    margin: 8px 0;
}

.landing__trending-product > img {
    max-height: 183px;
    width: 100%;
    padding: 4px;
}

.landing__trending-product > span {
    font-size: 13px;
    padding: 18px 4px 10px 4px;
    text-align: center;
}

.landing__trending > h3 {
    font-size: 22px;
    padding: 8px 0;
}
